.stl filter=lfs diff=lfs merge=lfs -text
static/img/datasets_learning/*.stl filter=lfs diff=lfs merge=lfs -text
static/img/datasets_learning/HeadNeckPatient24/*.stl filter=lfs diff=lfs merge=lfs -text
static/img/datasets_learning/HeadNeckPatient31/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/6H6G/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/95DK/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/BreastPatient1/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/BreastPatient2/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/BreastPatient3/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/CL9I/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/HeadNeckPatient6/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/HeadNeckPatient24/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_learning/HeadNeckPatient31/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/6M60/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/9GTR/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/BreastPatient4/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/BreastPatient5/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/HeadNeckPatient13/*.stl filter=lfs diff=lfs merge=lfs -text
media/datasets_testing/HeadNeckPatient41/*.stl filter=lfs diff=lfs merge=lfs -text
media/dicom/guest/*.stl filter=lfs diff=lfs merge=lfs -text
