{% extends 'base.html' %}

{% block content %}


{% include 'partials/_alerts.html' %}

<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4 mt-5">
            E-Learning Platform for Medical Students
          </h1>
          <p class="lead">A web-based platform that involves 3D reconstruction
            from 2D DICOM images of actual patient data, providing the
            ability to visualize and manipulate 3D models that illustrate the internal
            characteristics of structures with better interactivity and accessibility.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
          <h2>About Us</h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
        hic dignissimos ratione ea quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, ametneque quod accusamus 
        rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at 
        quaeratcommodi id libero eveniet harum perferendis laborum molestias quia.
      </p>
        
    </div>    
  </section>-->

{% endblock %}